<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">got any questions?</h1>
        <h1 class="display-3 ml-5">we are here for you</h1>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-8">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d65250989.54420249!2d22.3923259!3d-3.4459894!3m2!1i1024!2i768!4f13.1!2m1!1z2K7YsdmK2LfZhyDYp9mE2LnYp9mE2YXigK0!5e0!3m2!1sen!2seg!4v1668277601208!5m2!1sen!2seg"
                 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        <div class="col-md-4">
            <address class="mt-5">
                <strong>V Travel - Travel Agancy</strong><br>
             <hr>
                <a href="mailto:bmaser38@gmail.com"></a>
            </address>
        </div>
    </div>
		<div class="row mt-5">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium placeat at, voluptates cum voluptatum modi ipsa repudiandae omnis mollitia dolorum, a excepturi tempora dolorem earum esse laboriosam quisquam cupiditate possimus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae animi velit rerum accusamus numquam, assumenda eius ipsa excepturi minima quibusdam doloremque expedita perferendis cum vero ratione nisi nostrum corporis provident.</p>
		</div>
</div>
